WebFishPartner/Connected Services/PartnerReference/ServicePartner1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="PartnerService" elementFormDefault="qualified" targetNamespace="PartnerService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57989/ServicePartner.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebServiceWIki.Models.ViewContractModel" />
  <xs:element name="LayTT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tokenService" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tokenInfo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayTTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WebServiceWIki.Models.ViewContractModel" minOccurs="0" name="LayTTResult" nillable="true" type="q1:ThongTin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>