WebWiki/Connected Services/MyReference/MyService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="WikiReference" elementFormDefault="qualified" targetNamespace="WikiReference" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57989/MyService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebServiceWIki.Models.ViewContractModel" />
  <xs:element name="TaoDM">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WebServiceWIki.Models.ViewContractModel" minOccurs="0" name="newCate" nillable="true" type="q1:Danhmuc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TaoDMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TaoDMResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DSDM">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DSDMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WebServiceWIki.Models.ViewContractModel" minOccurs="0" name="DSDMResult" nillable="true" type="q2:ArrayOfDanhmuc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayDM">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCate" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayDMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WebServiceWIki.Models.ViewContractModel" minOccurs="0" name="LayDMResult" nillable="true" type="q3:Danhmuc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaDM">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WebServiceWIki.Models.ViewContractModel" minOccurs="0" name="cate" nillable="true" type="q4:Danhmuc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaDMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SuaDMResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaDM">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCate" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaDMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="XoaDMResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayCBBCate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCate" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayCBBCateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WebServiceWIki.Models.ViewContractModel" minOccurs="0" name="LayCBBCateResult" nillable="true" type="q5:ArrayOfDanhmuc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TaoTT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WebServiceWIki.Models.ViewContractModel" minOccurs="0" name="newInfo" nillable="true" type="q6:ThongTin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TaoTTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TaoTTResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DSTTAdmin">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DSTTAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WebServiceWIki.Models.ViewContractModel" minOccurs="0" name="DSTTAdminResult" nillable="true" type="q7:ArrayOfThongTin_NguoiDung" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayTTNguoiDung">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LayTTNguoiDungResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WebServiceWIki.Models.ViewContractModel" minOccurs="0" name="LayTTNguoiDungResult" nillable="true" type="q8:ArrayOfThongTin_NguoiDung" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayTTTheoNguoiDung">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayTTTheoNguoiDungResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WebServiceWIki.Models.ViewContractModel" minOccurs="0" name="LayTTTheoNguoiDungResult" nillable="true" type="q9:ArrayOfThongTin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayTTMoiNguoiDung">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LayTTMoiNguoiDungResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WebServiceWIki.Models.ViewContractModel" minOccurs="0" name="LayTTMoiNguoiDungResult" nillable="true" type="q10:ArrayOfThongTin_NguoiDung" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayTTAnNguoiDung">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LayTTAnNguoiDungResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WebServiceWIki.Models.ViewContractModel" minOccurs="0" name="LayTTAnNguoiDungResult" nillable="true" type="q11:ArrayOfThongTin_NguoiDung" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayTTAnAdmin">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LayTTAnAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WebServiceWIki.Models.ViewContractModel" minOccurs="0" name="LayTTAnAdminResult" nillable="true" type="q12:ArrayOfThongTin_NguoiDung" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayTTAnTheoNguoidung">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayTTAnTheoNguoidungResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WebServiceWIki.Models.ViewContractModel" minOccurs="0" name="LayTTAnTheoNguoidungResult" nillable="true" type="q13:ArrayOfThongTin_NguoiDung" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayTTTheoDM">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCate" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayTTTheoDMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WebServiceWIki.Models.ViewContractModel" minOccurs="0" name="LayTTTheoDMResult" nillable="true" type="q14:ArrayOfThongTin_NguoiDung" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayHetTTTheoNguoiDung">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayHetTTTheoNguoiDungResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WebServiceWIki.Models.ViewContractModel" minOccurs="0" name="LayHetTTTheoNguoiDungResult" nillable="true" type="q15:ArrayOfThongTin_NguoiDung" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayTTNgauNhien">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LayTTNgauNhienResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/WebServiceWIki.Models.ViewContractModel" minOccurs="0" name="LayTTNgauNhienResult" nillable="true" type="q16:ArrayOfThongTin_NguoiDung" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Lay3TT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCate" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Lay3TTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/WebServiceWIki.Models.ViewContractModel" minOccurs="0" name="Lay3TTResult" nillable="true" type="q17:ArrayOfThongTin_NguoiDung" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayTT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idIF" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayTTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/WebServiceWIki.Models.ViewContractModel" minOccurs="0" name="LayTTResult" nillable="true" type="q18:ThongTin_NguoiDung" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaTT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/WebServiceWIki.Models.ViewContractModel" minOccurs="0" name="i" nillable="true" type="q19:ThongTin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaTTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SuaTTResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaTT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idIF" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaTTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="XoaTTResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocTTMoi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idIF" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocTTMoiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DocTTMoiResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnMotTT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idIF" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnMotTTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AnMotTTResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimKiemTT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimKiemTTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/WebServiceWIki.Models.ViewContractModel" minOccurs="0" name="TimKiemTTResult" nillable="true" type="q20:ArrayOfThongTin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TTTimKiem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TTTimKiemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/WebServiceWIki.Models.ViewContractModel" minOccurs="0" name="TTTimKiemResult" nillable="true" type="q21:ArrayOfThongTin_NguoiDung" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TaoSuaTT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/WebServiceWIki.Models.ViewContractModel" minOccurs="0" name="newEdit" nillable="true" type="q22:SuaTT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TaoSuaTTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TaoSuaTTResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DSSTT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idIF" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DSSTTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/WebServiceWIki.Models.ViewContractModel" minOccurs="0" name="DSSTTResult" nillable="true" type="q23:ArrayOfSuaTT_NguoiDung" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocSuaTTMoi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEI" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocSuaTTMoiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DocSuaTTMoiResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaSuaTT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEI" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaSuaTTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="XoaSuaTTResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayBLNguoiDung">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idIF" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayBLNguoiDungResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/WebServiceWIki.Models.ViewContractModel" minOccurs="0" name="LayBLNguoiDungResult" nillable="true" type="q24:ArrayOfSuaTT_NguoiDung" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaSuaTTTheoMaSua">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEI" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaSuaTTTheoMaSuaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="XoaSuaTTTheoMaSuaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayBLMoiTheoNguoiDung">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayBLMoiTheoNguoiDungResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/WebServiceWIki.Models.ViewContractModel" minOccurs="0" name="LayBLMoiTheoNguoiDungResult" nillable="true" type="q25:ArrayOfSuaTT_NguoiDung" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayBLDaXemTheoNguoiDung">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayBLDaXemTheoNguoiDungResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/WebServiceWIki.Models.ViewContractModel" minOccurs="0" name="LayBLDaXemTheoNguoiDungResult" nillable="true" type="q26:ArrayOfSuaTT_NguoiDung" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayTatCaNguoiDung">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LayTatCaNguoiDungResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/WebServiceWIki.Models.ViewContractModel" minOccurs="0" name="LayTatCaNguoiDungResult" nillable="true" type="q27:ArrayOfNguoiDung" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KichHoatNguoiDung">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KichHoatNguoiDungResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KichHoatNguoiDungResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KiemTraNguoiDung">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pwd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KiemTraNguoiDungResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KiemTraNguoiDungResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TaoNguoiDung">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/WebServiceWIki.Models.ViewContractModel" minOccurs="0" name="u" nillable="true" type="q28:NguoiDung" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TaoNguoiDungResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TaoNguoiDungResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NguoiDungDangNhap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mail" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NguoiDungDangNhapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/WebServiceWIki.Models.ViewContractModel" minOccurs="0" name="NguoiDungDangNhapResult" nillable="true" type="q29:NguoiDung" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CapNhatThongTin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/WebServiceWIki.Models.ViewContractModel" minOccurs="0" name="u" nillable="true" type="q30:NguoiDung" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CapNhatThongTinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CapNhatThongTinResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoiMatKhauNguoiDung">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
        <xs:element minOccurs="0" name="pwdOld" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pwdNew" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoiMatKhauNguoiDungResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DoiMatKhauNguoiDungResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TaoNguoiDV">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/WebServiceWIki.Models.ViewContractModel" minOccurs="0" name="a" nillable="true" type="q31:NguoiDichVu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TaoNguoiDVResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TaoNguoiDVResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NguoiDVDangNhap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mail" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NguoiDVDangNhapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/WebServiceWIki.Models.ViewContractModel" minOccurs="0" name="NguoiDVDangNhapResult" nillable="true" type="q32:NguoiDichVu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DSAS">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DSASResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/WebServiceWIki.Models.ViewContractModel" minOccurs="0" name="DSASResult" nillable="true" type="q33:ArrayOfNguoiDichVu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>